<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>

<html lang="en">
  <link rel="stylesheet" href="/style.css" />

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>

  <head>
    <div class="jessi">
      <p>Hi hi baby!</p>
      <p>I love you so so much!</p>
      <p>And since I can't put notes in your lunchbox anymore...</p>
      <p>I made this website!</p>
    </div>
  </head>
<br>
  <body>
    <div id="notes">
    </div>
  </body>
</html>
