@media (orientation: landscape) {
    body {
		margin-left: auto;
		margin-right: auto;
		font-family: sans-serif;
		width: 30%;
	}
}

@media (orientation: portrait) {
    body {
		margin-left: auto;
		margin-right: auto;
		font-family: sans-serif;
		width: 100%;
	}
}

.level {
	display: table;
    margin: 0 auto;
}

table {
	/*margin-left: auto;
	margin-right: auto;*/
	padding: 1em;
	width: 100%;
	font-size: 36pt;
}

td {
	transform: rotateX(180deg);
	
	background-color: white;
	width: 1em;
	height: 2em;
	text-align: center;
	border-color: black;
	border-width: 3px 3px 3px 3px;
	
	-webkit-transition:	background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	-moz-transition: 	background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	-o-transition: 		background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	transition: 		background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1);
}

td span {
	display: inline-block;
	transform: rotateX(-180deg);
	
	-webkit-transition:	transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	-moz-transition: 	transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	-o-transition: 		transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	transition: 		transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),	
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);	
}

.selected {
	border-color: blue;
	border-width: 5px 5px 5px 5px;
}

#keyboard {
  margin: 0 8px;
  user-select: none;
}

.row {
	display: flex;
	width: 95%;
	margin: 0 auto 8px;
	/* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
	touch-action: manipulation;
}

.key {
	font-family: inherit;
	font-weight: bold;
	font-size: 24pt;
	border: 0;
	padding: 0.5em;
	margin: 0 6px 0 0;
	height: 5em;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	background-color: lightgrey;
	color: black;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	
	-webkit-transition:	background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	-moz-transition: 	background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	-o-transition: 		background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);
						
	transition: 		background-color	0.5s	cubic-bezier(0.85, 0, 0.15, 1),
						transform			0.5s	cubic-bezier(0.85, 0, 0.15, 1),	
						color				0.5s	cubic-bezier(0.85, 0, 0.15, 1);	
}

.half {
	flex: 0.5;
}

.one {
	flex: 1;
}

.one-and-a-half {
	flex: 1.5;
	font-size: 2pt;
}

.incorrect {
	background-color: grey;
	color: white;
	transform: rotateX(0deg);
}

.incorrect span {
	transform: rotateX(0deg);
}

.almost {
	background-color: rgb(230, 193, 60);
	color: white;
	transform: rotateX(0deg);
}

.almost span {
	transform: rotateX(0deg);
}

.correct {
	background-color: rgb(65, 188, 92);
	color: white;
	transform: rotateX(0deg);
}

.correct span {
	transform: rotateX(0deg);
}
